@import "tailwindcss";

:root {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
  .brutal-shadow {
    box-shadow: 6px 6px 0px 0px black;
  }
  
  .brutal-shadow-sm {
    box-shadow: 3px 3px 0px 0px black;
  }
  
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, #e5e5e5 1px, transparent 1px),
      linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);
  }
}